/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #5f5f5f;
  color: #2f3640;
}

/* ====== LAYOUT ====== */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

section {
  background: white;
  padding: 1.5rem;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #273c75;
}

/* ====== LISTES ====== */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

li {
  padding: 0.9rem 1.1rem;
  background: #a2c4ff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

li:hover {
  background: #7e9cffff;
  transform: translateX(4px);
}

section:nth-child(2) li {
  cursor: default;
  transform: none;
}

section:nth-child(2) li:hover {
  background: #7e9cffff;
}

/* ====== TEXTE ====== */
li strong {
  font-weight: 600;
  color: #2f3640;
}

li em {
  font-size: 0.9rem;
  color: #4b6584;
}

li span {
  font-size: 0.85rem;
  color: #000000;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}